body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  height: 100vh;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 600px;
}

.predwrap {
  display: flex;
  flex-direction: column;
  color: #333;
  flex-grow: 1;
  border-left: 1px #101010 solid;
  padding: 1em 1.2em;
}

.first {
  border-color: transparent;
}

img {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}